
#roadmap {
  margin-top: 200px; 
    width: 100%;
    overflow: hidden !important;
}
#roadmap> h1{
    font-size: 150px;
    text-align: center;
    transform: scaleX(2) scaleY(1.25);
    width: 100%;
    margin: 0 auto;
    color: #FFF200;
      text-shadow:
   -2px -2px 0 #FF06D7,  
    2px -2px 0 #FF06D7,
    -2px 2px 0 #FF06D7,
     2px 2px 0 #FF06D7;
} 
.roadmap-grid{
    display: grid;
    margin: 100px auto;
    grid-gap: 0; 
}
.roadmap-grid-4{
    width: 50%;
    grid-template-columns: repeat(4, 1fr);
}
.roadmap-grid-5{
    margin-top: 200px;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
}
.roadmap{
    padding: 00px;
    height: 300px;
    position: relative;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.roadmap p{
    font-size: 1.5rem;
    font-family:Emtype Foundry Regular ;
    text-align: center;
}
.roadmap h2{
    font-size: 1.15rem;
    width: 60%;
    text-align: center;
}
.roadmap h3{
    font-size: 2rem;
    width: 60%;
    text-align: center;
}
.roadmap-bg{
    position: absolute;
    width: 100%;
    left: 0;
    transform: scale(1.5);
    top: 0;
    height: auto;
    z-index: -1;
}
#note-0, #note-2{
    transform: scale(1.5) rotateZ(-10deg);
}
#note-1, #note-4{
    transform: scale(1.5) rotateZ(10deg);
}
@media (max-width:  1760px){ 
    #roadmap img.man2, #section-3 > img{
        width: 50%;
    } 
    #roadmap h1{
        font-size: 120px;
    } 
}
@media (max-width:  1280px){ 
    #roadmap img.man2, #section-3 > img{
        width: 50%;
    } 
    #roadmap h1{
        font-size: 100px;
    }
    .roadmap{ 
        height: 200px;   
    }
    .roadmap p{
        font-size: 1.0rem; 
    }
    .roadmap h2{
        font-size: 1.10rem;
        width: 60%; 
    }
    .roadmap h3{
        font-size: 1.5rem;
        width: 60%; 
    }
}
@media(max-width: 1024){ 
}
@media (max-width:  786px){ 
    #roadmap img.man2, #section-3 > img{
        width: 100%;
    } 
    .roadmap-grid-4,.roadmap-grid-5{
        grid-template-columns: 1fr;
    }
    #note-0, #note-2{
        transform: scale(1) rotateZ(-10deg);
    }
    #note-1, #note-4{
        transform: scale(1) rotateZ(10deg);
    } 
    #note-3{
        transform: scale(1.0);
    }
    .roadmap {
        height: 300px;
    }
}