#section-2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 000px; 
	/*background: url(../../assets/images/CAVE BACKGROUND.png) ;
	background-size: 1300px;
	background-repeat: no-repeat;
	background-position:  bottom;*/
    width: 60%;
    margin: auto;
    overflow: hidden !important;
	position: relative;
} 
@media (max-width:  1360px){ 
#section-2{
	background-size: cover;
	background-position: center;
}
}
#section-2 h1{
	color: #8FFA06;
	text-align: center; 
	font-family: 'Fontsphere';
	text-transform: uppercase;
	font-weight: 700; 
	margin-top: 100px;
	font-size: 120px;
	text-shadow:
		-2px -2px 0 #F36EFF,  
		2px -2px 0 #F36EFF,
		-2px 2px 0 #F36EFF,
		2px 2px 0 #F36EFF;
}
#section-2 h1 span{
    color: #8FFA06;
    font-weight: 700; 
    font-size: 120px;
    font-family: 'Fontsphere';
    text-shadow:
   -2px -2px 0 #F36EFF,  
    2px -2px 0 #F36EFF,
    -2px 2px 0 #F36EFF,
     2px 2px 0 #F36EFF;

}
#section-2 > img{
    margin: 80px auto;
    /*width: 40%;*/
}
.games-flex{
	/*width: 60%;*/
	/*margin: 120px auto;*/
	margin: auto; 
	display: grid;
	align-items: center; 
	grid-template-columns: 1fr 1fr 1fr;
}
.gf-2{
	grid-template-columns: 1fr 1fr;
	margin-bottom: 50px;
}
.games-flex img{
	width: 100%;
}
.gf-2 img{
	width: 70%;
	margin: 50px auto;
}
#section-2 p{
    text-align: center;  
    line-height: 100px;
    /*width: 60%;*/
    margin: auto;
    font-size:100px; 
    color: #FFF200;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
#section-2 p span{
    font-size:100px;
    color: #ECE000; 
}
@media (max-width:  768px){
	.social-flex{
		width: 90% !important;
		display: flex !important;
		flex-direction: column-reverse !important;
	}
	#section-3 h1 {
		font-size: 100px !important;
	}
#section-2 > img{
	width: 100%;
}
}
@media (max-width:  1760px){ 
	#section-2 h1,
	#section-2 h1 span{
		font-size: 90px !important;
	}
	#section-2 p,
	#section-2 p span{
		font-size: 60px !important;
	}

}
@media (max-width:  600px){
	.games-flex{
		grid-template-columns: 1fr;
	}
}