 
/*#faq h1{

    font-size: 150px;
    text-align: center;
    transform: scaleX(1.5) scaleY(1.25);
    width: 100%;
    margin: 100px auto;
    color: #fff;
      text-shadow:
   -2px -2px 0 #FF06D7,  
    2px -2px 0 #FF06D7,
    -2px 2px 0 #FF06D7,
     2px 2px 0 #FF06D7;
}*/
#faq .pink-box{
	/*width: 60% !important;*/
	margin-bottom: 40px;
	padding: 20px 40px;
	background: #650C85;
border: 6px solid #F36EFF !important;
}
.arrow-down{
	transform: scaleY(-1);
}
#faq{
    width: 50%;
    margin: auto;
    overflow: hidden !important;
    }
.faq-box{
	color: white;
}
.faq-box strong{
	font-size: 40px;
}
.faq-box li, .faq-box p{
    font-family: 'Emtype Foundry Regular';
	font-size: 1rem;
	margin-left: 40px;
	font-weight: 400;
	margin-bottom: 10px;
}
.faq-box li strong{
    font-family: 'Emtype Foundry';
	font-weight: 900;
	font-size: 1.25rem;
}
.gemplatform{
	position: relative; 
	z-index: 99999;
}
.faq-box img{
	border-radius: 100%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gemplatform img{
	width: 100%;
	transform: scaleX(1.25);
}
@media (max-width:  1780px){ 
	#faq h1{
		font-size: 120px;
	}
	#faq img{
		width: 100%;
	}
	#faq .pink-box{
		/*width: 60% !important;*/
	}
}
@media (max-width:  1280px){ 
	.faq-box strong{
		font-size: 30px;
	}
	.faq-box li, .faq-box p, .faq-box li strong{
		font-size: 20px;
		line-height: 1;
	}
	#faq h1{
		font-size: 100px;
	} 
	#faq .pink-box{
		padding: 10px 20px;
		/*width: 70% !important;*/
	} 
}
@media (max-width:  786px){ 
 
#faq, #team {
		width: 90% !important;
	} #contact form {
		width: 90% !important;
	}
}