section{  
    margin: auto;
    /*height: 93vh;*/ 
    display: flex;
    align-items: center;
    background: #2b1055;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 7vh;
    z-index: 2222;
    width: 100%;
    overflow: hidden !important;
}
#home i{
    position: absolute;
    background: white;
    border-radius: 50px;
    z-index: 1;
    animation: animate linear infinite;
}
#green-arrow{
    position: absolute;
    z-index: 10000000;
    left: 50px;
    top: 50px;
    width: 27%;
}
.hero-flex{
    display: flex;
    height: 78vh;
    width: 50%; 
    /*position: absolute;*/
    top: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media(max-width:  1360px){
    section{
    /*min-height: calc(100vh + 200px); */
    }
}
#loader{
    width: 100%;
    height: 100vh; 
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 99999999999999;
    display: flex;
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.452);
}
#close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: 600;
    color: rgb(27, 23, 23);
    font-size: 36px;
}   
#minted-popup{
    position: absolute;
    width: 100%;
    height: 100vh; 
    flex-direction: column;
    background-color: #00000000;
    align-items: center;
    display: flex;
    z-index: 9999999999999999999;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.452); 
}
.minted-popup{
    width: 60%;
    position: relative;
    z-index: 9999999999999999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*top: 50px;*/
    min-height: 600px;
    background-color: #872EB1;
    border: 6px solid #FF06D7;
    border-radius: 6px;
    padding: 20px 50px;  
}
@media (max-width:  1280px){
    .minted-popup{
        min-height: 400px;
    }
    .minted-popup h1{
        font-size: 40px !important;
    }
    .minted-popup p{
        font-size: 24px !important;
    }
}
.minted-popup img{
    width: 80%;
    margin: 20px auto;
    display: block;
}
.minted-popup h1{
    color: #FF06D7;
    font-size: 40px;
    text-align: center;
    display: block;
    margin: auto;
}
.minted-popup p{
    color: #FF06D7;
    font-size: 30px;
    text-align: center;
    display: block;
    margin: auto;
}
.section-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden; 
}
.section-bg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 100%; 
    pointer-events: none;
}
#moon{
    mix-blend-mode: screen;
    z-index: 1;
}
#mountains_front{
    z-index: 3; 
}
#mountains_behind{
    z-index: 2;
}
#cave{
    z-index: 4; 
    width: 80%;
    margin: 0 10%;
    height: auto;
    bottom: 3vh;
    top: unset;
}
.miners-box{
    display: grid;
    justify-content: space-between;
    background-color: #872EB1DB;
    grid-template-columns: 6fr 4fr;
    grid-gap: 20px; 
    width:90%;
    margin: auto;
    /*align-items: center;*/
    padding: 40px 40px;   
    border: 6px solid #FF06D7; 
    border-radius: 6px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.miners-box p{ 
    font-size:2rem;
    text-align: center; 
    letter-spacing: 2px;
    color: #92FF07
}
.miners-box p strong{
    font-size: 2rem;    
    font-weight: 400;
    font-family: Emtype Foundry Regular;
}
.miners-box h3{ 
    font-size:2rem;
    text-align: center; 
    letter-spacing: 5px;
    color: #92FF07
}
.animation-box img{
    width: 100%;
    max-width: 300px;
    position: relative !important;
}
.animation-box{
    background-color: #92FF07;
    height: 100%;
    display: flex;
    width: 100%;
    /*width: fit-content;*/
    flex-direction: column;
    align-items: center;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    justify-content: center;
    border: 6px solid #FF06D7;
    border-radius: 6px
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.miner-input-box{ 
    padding: 10px;
    min-height: 90px;
}
.miner-input-box h3{
    color: #17F16E; 
    width: fit-content; 
    text-align: center; 
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
}
.miner-input-box span b{
    font-weight: 900;
    text-transform: none;
    font-size: 2.5rem;
    position: relative;
    left: 3px;
    bottom: 1px;

}
.miner-input-box h3 span{
    color: #17F16E;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 2px solid #92FF07;
    border-radius: 100px;

} 
.miner-input-box input{
    width:60px; 
    background:white;
    font-size: 1.75rem;
    border:6px solid #92FF07;
    font-weight: 700;
    color: #000;
    margin: 20px;
    text-align: center;
}
.minus, .plus{
    cursor: pointer;
}
.miners-box form button, .collect-btn{
    /*background-color: #872eb1a8 ;*/
    background-color: #92FF07 ; 
    border: 6px solid #FF06D7  ;
    border-radius: 6px  ;
    color: #FF06D7;    
    text-align: center;
    width: 100%;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top:1rem ;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size:1.5rem;
    letter-spacing: 5px;
} 
#collect .collect-btn, .not-connected{
    font-size: 1rem !important;
    padding: 0.5rem 0.75rem ;
    font-weight: 900;
}
.disconnect{
    background-color: #F36EFF;
    color: #fff;
}
#collect{
    position: absolute;
    z-index: 99999;
    width: fit-content;
    top: 2vh;
    right: 40px;
}
@media (max-width: 768px){
    #collect{
        display: none;
    }
}
.img-flex{   
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.img-flex img{
    position: absolute;
    z-index: -1;
    width: 150%;
}
.img-flex p{
    color: #92FF07;
    font-size: 36px;
    text-align: center; 
    font-weight: 900; 
    line-height: 125%;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-flex h1{
    color: #FF06D7;
    letter-spacing: 12px;  
    font-family: 'Emtype Foundry Regular';
    text-shadow: 0 0 3px #00ACEE, 0 0 5px #00ACEE;    
    font-weight: normal;
    font-size: 100px; 
    text-align: center;
    letter-spacing: 0.1em;   
    color: #F9F900; 
    text-shadow:
        -2px -2px 0 #FF13ED,  
        2px -2px 0 #FF13ED,
        -2px 2px 0 #FF13ED,
        2px 2px 0 #FF13ED;
}
#explore-popup{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; 
    width: 100%;
    position: relative;
    top: -60px;
    z-index: 1;
}
.info-box{
    display: flex;
    flex-direction: column;
    background-color: #872eb1a8; 
    grid-gap: 20px; 
    align-items: center;
    justify-content: center;
    padding: 20px 25px;  
    border: 6px solid #FF06D7;
    border-radius: 6px;
    width: 100%;
    color: #FFF200;
}
.info-box h2{ 
    font-family: Fontsphere  ; 
    font-size: 60px;  
    text-align: center;
    letter-spacing: 0.1em;  
}
.info-box{ 
    font-family: Emtype Foundry; 
    font-weight: 900;
    font-size: 24px;
    line-height: 150%; 
    text-align: center; 
}
.magic-dust{
    position: relative;
    width: 100%;
    width: 100%;
    transform: scaleY(0.8); 
    z-index: 2;
    /*top: 50px;*/
}   
.magic-dust img{
    width: 100%;
    height: auto; 
    margin: auto;
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.miners-box-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}
@media (max-width: 1920px){
    .img-flex h1{
        font-size: 3.5rem;
    }
/*.miners-box form button, .collect-btn{
    font-size: 2rem;

 }*/

}
@media (max-width: 1860px){
    #explore-popup{
        /*width: 50%;*/
    } 
    .miner-input-box{
        margin-bottom: 0;
    }
    .miners-box{
        padding: 40px ;
    }
    .img-flex h1{
        font-size: 3.5rem;
    }
}
@media (max-width: 1760px){

.animation-box img{
    /*width: 100%;*/
    width: unset;
    max-width: 250px !important;
    position: relative !important;
}
.miners-box form button, .collect-btn{ 
    /*border: 4px solid #92FF07 !important;   */
    padding: 0.3rem 0.2rem  ;
    font-size:1.5rem ;
    min-width: 300px;
    letter-spacing: 0px;
}
}
@media (max-width: 1660px){
    #explore-popup{
        /*width: 50%;*/
        /*top: -40px;*/

    }
    .miners-box-left>h3{
        font-size: 2.0rem ;
    }
    .
.miners-box form button, .collect-btn{ 
    /*border: 4px solid #92FF07 !important;   */
    padding: 0.2 0.4rem  ;
    font-size:1.15rem ;
    min-width: 300px;
    letter-spacing: 0px;
}
    .miner-input-box{
        margin-bottom: 0;
    }
    .miners-box{
        padding: 40px ;
    }
.miners-box p{ 
    margin-top: 10px;
    font-size:1.2rem;
    text-align: center; 
    letter-spacing: 2px;
    color: #92FF07
}
.miners-box p strong{
    font-size:1.2rem;

}
.animation-box img{
    /*width: 100%;*/
    width: unset;
    max-width: 200px !important;
    position: relative !important;
}
    .magic-dust {
        width: 100%; 
    }
    .img-flex h1{
        font-size: 3rem;
    text-shadow:
        -2px -2px 0 #FF13ED,  
        2px -2px 0 #FF13ED,
        -2px 2px 0 #FF13ED,
        2px 2px 0 #FF13ED;
    }
    .img-flex img{
        width: 120%;
    }
.miner-input-box span i{ 
    font-size: 1.5rem;

}
.miner-input-box h3 span{ 
    width: 40px;
    height: 40px; 

} 
.miner-input-box input{
    width:60px;  
    font-size: 1.5rem;
    border:4px solid #17F16E; 
    margin: 20px; 
}
.hero-flex{
    margin-top: 30px;
}
    .img-flex h1{
        font-size: 2.5rem !important;
    }
.miners-box-left{}
} 
@media (max-width:  1440px){

.img-flex p{
    font-size: 1.15rem !important;
    }
}
@media (max-width: 1360px){
    .miners-box{
        padding: 20px !important;
    }
    .miners-box form button, .collect-btn{  
        border: 4px solid #FF06D7  ;
        border-radius: 6px  ; 
        margin-top:0rem ; 
        padding: 0.25rem 1rem;
        font-size:0.75rem !important; 
        letter-spacing: 5px;
    } 
    .miner-input-box h3 span{ 
        width: 40px;
        height: 40px;
        border: 2px solid #92FF07;
        border-radius: 100px;

    } 
    .miner-input-box h3 span b{  
        font-size: 30px;
    } 
    .miner-input-box input{
        width:60px;  
        font-size: 1.25rem !important;
        border:6px solid #92FF07;  
        margin: 10px 20px !important; 
    }
}
@media (max-width: 1280px){
     
#green-arrow{ 
    left: 30px;
    top: 30px;
    width: 27%;
}
    .miners-box{
        padding: 40px ;
    }
.miners-box p{ 
    margin-top: 10px;
    font-size:1.5rem;
    text-align: center; 
    letter-spacing: 2px;
    color: #92FF07
}
    .miners-box-left>h3{
        font-size: 1.5rem !important ;
    }
.miner-input-box span i{ 
    font-size: 1.0rem;

}
.miner-input-box h3 span{ 
    width: 30px;
    height: 30px; 

}
.miner-input-box input{
    width:40px;  
    font-size: 1.25rem;
    border:4px solid #17F16E; 
    margin: 5px 20px; 
}
.miners-box form button, .collect-btn{ 
    /*border: 4px solid #92FF07 !important;   */
    padding: 0.1rem  ;
    font-size:1.15rem;
    min-width: 200px;
    letter-spacing: 0px;
}
.animation-box img{
    /*width: 100%;*/
    width: unset;
    max-width: 150px !important;
    position: relative !important;
}
    .miner-input-box{
        margin-bottom: 0;
    } 
    .img-flex p{ 
        font-size: 26px !important; 
    }
    .miners-box-left h3{
        font-size: 2rem;
    } 
.animation-box img{
    width: 100%;
    max-width: 250px;
    position: relative !important;
}
    .img-flex h1{
    }

.img-flex h1{   
        font-size: 2.25rem !important;
        margin-top: 0;
    text-align: center;  
    text-shadow:
        -2px -2px 0 #FF13ED,  
        2px -2px 0 #FF13ED,
        -2px 2px 0 #FF13ED,
        2px 2px 0 #FF13ED;
}
.img-flex{
    margin-top: -20px;
}
.img-flex p{
    font-size: 1.05rem !important;
}
    .img-flex img{
        width: 100%;
    }
    .miners-box form button, .collect-btn{  
        padding: 10px;
        font-size:1rem; 
    }
    .info-box h2, .miner-input-box input{  
        font-size: 32px;   
    }
    .info-box{  
        font-size: 20px;
        line-height: 100%;  
    }
}
@media (max-width: 1180px){
    .miners-box{
        /*width: fit-content;*/

    } 
    .img-flex h1{
        font-size: 2.25rem !important;
    text-shadow:
        -2px -2px 0 #FF13ED,  
        2px -2px 0 #FF13ED,
        -2px 2px 0 #FF13ED,
        2px 2px 0 #FF13ED;
    }
.miners-box p{ 
    margin-top: 10px;
    font-size:1rem;
    text-align: center; 
    letter-spacing: 2px;
    color: #92FF07
}

#explore-popup{
    top: -40px;
}
    .miner-input-box{
        margin-bottom: 0;
    }
    .miners-box, .info-box{
        padding: 20px ;
        /*height: 250px; */
    }
    .miners-box-left h3{
        font-size: 1.5rem !important;
    }
    .animation-box img{
        width: 90% !important;
        /*height: 100px;*/
    }
    .magic-dust{
        /*width:90%;*/ 
    }
    .img-flex h1{
        font-size: 30px;
    }
    .img-flex img{
        width: 100%;
    }
    .miners-box form button, .collect-btn{  
        padding: 5px ; 
        font-size:0.95rem 
    }
    .info-box h2, .miner-input-box input{  
        font-size: 32px;   
    }
    .miner-input-box h3 {
        margin: 10px auto;
    }
    .info-box{  
        font-size: 20px;
        line-height: 100%;  
    }
}
@media(max-width:  1024px){
    #explore-popup, .magic-dust{
        /*width: 55% !important;*/
    }
#green-arrow{ 
    left: 30px;
    top: 40px;
    width: 27%;
}
.img-flex h1{   
        font-size: 1.5rem !important;
        margin-top: 0;
    text-align: center;  
    text-shadow:
        -2px -2px 0 #FF13ED,  
        2px -2px 0 #FF13ED,
        -2px 2px 0 #FF13ED,
        2px 2px 0 #FF13ED;
}
.miners-box p{ 
    margin-top: 10px;
    font-size:0.8rem;
    text-align: center; 
    letter-spacing: 5px;
    color: #92FF07
}
.miners-box p strong{
    font-size: 0.8rem;
}
    .miners-box form button, .collect-btn{  
        padding: 5px  ; 
        font-size:0.95rem ; 
        border-width: 4px;
    }
.img-flex p{
    font-size: 0.75rem !important;
}
.animation-box img{
    width: 100%;
    /*max-width: 150px !important;*/
    position: relative !important;
}
    .miners-box-left h3{
        font-size: 1rem !important;
    }
    .miners-box-left .collect-btn{
        font-size: 0.95rem !important;
        padding: 5px;
    }
}
@media (max-width: 786px){
    section{
        margin-top: 0;
    }
.miners-box p{  
    font-size:1.25rem; 
}
    .miners-box,
    #explore-popup{
        grid-template-columns: 1fr;
    }
    .miners-box{
        display: flex;
        flex-direction: column-reverse; 
    }
    .magic-dust{
        top: unset;
        width: 100%; 
    }
    .magic-dust img{
        width: 100%;
    }
    .hero-flex{
        justify-content: unset;
    }  
    .minted-popup{
        padding: 20px;
        width: 90%;
    }
    .minted-popup h1{
        font-size: 32px !important;
        margin: 0;
    }
    .minted-popup p{
        font-size: 16px !important;
        margin: 0;
    } 
    .minted-popup img{
        width: 100%;
    }
    .miners-box form button, .collect-btn{  
        padding: 10px;
        font-size:1rem; 
    }
    #green-arrow{ 
        left: 00px;
        display:none;
        transform: scaleY(-1);
        bottom: 20px;
        top: unset;
        width: 25%;
    }
}
@media (max-width:  525px){
    .img-flex h1{
        font-size: 1.25rem !important;
        text-shadow:
        -1px -1px 0 #FF13ED,  
        1px -1px 0 #FF13ED,
        -1px 1px 0 #FF13ED,
        1px 1px 0 #FF13ED;
    }
    .hero-flex{
        width: 90%
    }
    #green-arrow{ 
        left: 00px; 
        bottom: 30px;
        top: unset;
        width: 25%;
    }
    #explore-popup {
        top: -10px;
    }
    .miners-box form button, .collect-btn {  
        min-width: 100px; 
    }
    .hero-flex{
        height: unset;
    }
}
@media (max-width:  425px){ 
    #green-arrow{  
        bottom: 70px;  
    }
}
@media (max-width:  375px){ 
    #green-arrow{  
        bottom: 70px;  
    }
}
