#team h1{ 
	font-style: normal;
	font-weight: 900;
	font-size: 200px;
    transform: scaleX(2) scaleY(1.5);
	line-height: 150%; 
	text-align: center; 
	color: #92FF07; 
    text-shadow:
   -2px -2px 0 #FF06D7,  
    2px -2px 0 #FF06D7,
    -2px 2px 0 #FF06D7,
     2px 2px 0 #FF06D7; 
}
#team {
	margin-top: 100px;
    width: 100%;
    overflow: hidden !important;
}
#team > img{
    margin: 80px auto;
    width: 40%;
}

#team .pink-box{
	padding-top: 40px;
	padding-bottom: 40px;
}
.team-grid{
	width: fit-content;
	margin: auto;
	grid-gap: 40px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1780px){
	#team h1{
		transform: scale(1.5, 1);
	}
	.member img{
		width: 80px !important;
	}
	.man22{
		width: 60%;
	}
}
@media (max-width:  1280px){ 
	.member img{
		width: 80px !important;
	}
}
@media (max-width:  1360px){ 
	.member img{
		width: 100px !important;
	}
}
@media (max-width:  1024px){
	.team-grid{
		grid-template-columns: repeat(4, 1fr); 
	}
}
@media (max-width:  786px){
	.team-grid{
		grid-template-columns: repeat(3, 1fr); 
	}
	.member img{
		width: 100%;
	}
}
.team-grid .member{
	background: #EC12DB;
}
.team-member p{
	text-align: center;
	color: #fff;
	font-size: 30px;
}