
#section-3 h1{
    color: #92FF07;
    font-size: 100px;
    text-align: center;
    font-weight: 900; 
    transform: scaleX(1.1);
    font-family: 'Fontsphere';;
    margin: 80px auto;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
#section-3 a{
    text-decoration: none;
}
#section-3{
    width: 50%;
    margin: auto;
    overflow: hidden !important;
}
#section-3 > img{
    margin: 80px auto;
    /*width: 40%;*/
}
.green-boxes, .sec-2-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: space-between;    
    width: 100%;
    justify-content: space-between;
}

.green-box{
    background: rgba(17, 240, 12, 0.63);
    border: 8px solid #92FF07;
    display: flex;
    cursor: pointer;
    align-items: center; 
    font-size: 36px;
    text-align: center;
    border-radius: 6px;
    padding: 15px 20px;
    width: 100%; 
    /*width: 100%;*/
    color: #FBF5E3;
    margin: 0 auto; 
}
.green-box img{
    width: 60px;
    margin-right: 20px;
}
.social-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /*width: 70%;*/
    margin: auto; 
}
#section-3 p{
    color: #FBF5E3;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;  
    line-height: 80px;
    width: 100%;
    margin: auto;
    font-size:53px; 
} 
#section-3 .gimme-btn{
    font-size: 50px;
    color: #FBF5E3;
    font-weight: 900;
    background: rgba(17, 240, 12, 0.63);
border: 8px solid #92FF07;
    border-radius: 6px;
    display: block;
    padding: 00px 50px;
    width: 80%;
    margin: 20px auto 0 auto;
}
#section-3 p span{
    font-size:53px;
    color: #ECE000; 
} 
@media (max-width : 1760px){ 
    #section-3 h1{
        font-size: 100px;
    }
    #section-3 p,
    #section-3 p span{ 
        line-height: 60px; 
        font-size:40px; 
    }
    .green-box{ 
        font-size: 32px; 
        padding: 10px 20px; 
        width: 100%; 
        /*margin-bottom: 40px;*/
    }
    .green-box img{
        width: 40px;
        margin-right: 20px;
    }
    #section-3 .gimme-btn{
        font-size: 32px;  
        padding: 10px 20px; 
        margin: 20px auto 0 auto;
    }
}
@media (max-width : 1280px){ 
    #section-3 h1{
        font-size: 80px;
    }
    .green-box{ 
        font-size: 24px; 
        padding: 10px ; 
        width: fit-content; 
        /*margin-bottom: 40px;*/
    }
    #section-3 .gimme-btn{
        font-size: 34px;  
        padding: 0 10px; 
        margin: 20px auto 0 auto;
    }
    .green-box img{
        width: 40px;
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    .green-box{
        width: 90% !important;
        padding: 10px 10px  ;
        margin-bottom: 40px;
    }
    #section-3 h1{
        font-size: 50px !important;
    }
}