.Divider{
	width: 100%;
	position: absolute;
	z-index: 4;
	bottom: 0px;  
	display: grid;
	background: #00cec9;
	height: 150px;
	align-items: center;
	grid-template-columns: repeat(10, 1fr); 
	/*margin-bottom: 100px;*/
}
@media(max-width:  1360px){
	.Divider{
		/*bottom: -160px; */
	}
}
@media(max-width:  768px){
	.Divider{
		/*display: none; */
	}
}
.Divider img{
	width: 100%; 
}