
html{
    scroll-behavior: smooth;  
}
button{
    cursor: pointer;
} 
ul{
    margin: 0 !important;
    padding: 0 !important;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Emtype Foundry', sans-serif;  
    font-size: 24px;
    /*cursor: urlassets/images/shovel.png),aut ;
*/} 
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#8806C9,#8806C9, #8806C9, #8806C9, #8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#fff, #fff);  
    /*background: url(./assets/images/grandbg.png');*/
    position: relative;  
}
.bottom-section{
    position: relative;
}  
.contact-bg{
    position: absolute;
    background:url(./assets/images/wallpaper.png) ;
    width: 100%;
    top: 0;
    background-size: 100%;
    transform: scaleX(1.0);
    z-index: -10;
    height: 450vh;
}
 .gradient-bg{
    z-index: -4;
    top: 0;
    width: 100%;
    position: absolute; 
    /*filter: opacity(0.5);*/
    background:  linear-gradient(#8806C9,#8806C9,#ffffff57,#ffffff57, #ffffff57,#ffffff57,#ffffff57) ;
    height: 200vh; 
 }
 @media(max-width: 1660px){
    .contact-bg, .gradient-bg{
        height: 400vh;
    }
 }
 @media(max-width: 1280px){
    .contact-bg, .gradient-bg{
        height: 500vh;
    }
 }
 @media(max-width: 1024px){
    .contact-bg, .gradient-bg{
        height: 700vh;
    }
 }
@keyframes animate {
    0%{
        opacity: 0;
        /* transform: translateY(0); */
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        /* transform: translateY(-100px); */
    }
}
#group-div{
    position: revert;
    width: 100%;
    overflow: hidden;
} 
#cavebg{
    position: absolute;
    z-index: 1;  
    top: -270px;
    left: 200px; 
    mix-blend-mode: screen;
}
#cavebig{
    position: absolute;
        width: 100%; 
    height: fit-content;
    mix-blend-mode: multiply;

}
#leftfull , #left, #rightfull , #right{
    top: 0;  
    position: absolute;
    mix-blend-mode: multiply;
    width: 25%;
    height: 93% ;
    z-index: -5;  
}
#rightfull , #right{
    right: -40px  ;
        transform-origin: 100% 0%;
}
#leftfull , #left{
    left: -70px  ;
        transform-origin: 0% 100%;
} 
@media (max-width:  1860px){ 
#rightfull , #right{ 
    height: 1300vh;
}
#leftfull , #left{ 
    height: 1300vh;
     
    }
}
@media (max-width:  1780px){ 
#rightfull , #right{
    right: -140px  ;  
}
#leftfull , #left{
    left: -50px  ; 
     
    }
}
@media (max-width:  1440px){ 
#rightfull , #right{
    right: -190px  ; 
    height: 1300vh ;
}
#leftfull , #left{
    left: -60px  ; 
    height: 1300vh ;
    }
}
@media (max-width:  1440px){
    #leftfull , #left, #rightfull , #right{  
    width: 35% ; 
    } 
}
@media (max-width:  1280px){
    #leftfull , #left, #rightfull , #right{ 
    /*top: 0;   */
    width: 30%;
    /*height: fit-content;*/ 
    } 
}
@media (max-width: 725px){
#leftfull , #left, #rightfull , #right, #Miner5,#Miner6,#Miner7,#Miner8,#Miner9,#Miner10{
    display: none !important;

}
.message{
    top: 600px !important;
} 
    .header, 
    .header ul{
        display: none;
        flex-direction: column;
        align-items: flex-start !important;
        text-align: left;
    }
    .header ul li{
        border: none !important;
    }
    .header .social-holder img{
        margin-bottom: 20px;
        width: 30px !important;
    } 
    #light{
        height: 30% !important;
    }
      #left-side, #bluesideleft, #stoneleft {
        /* width: 100px; */  
    }
    #left-side   {
        /* width: 100px; */ 
        transform-origin: 0% 50%;
    }
    .hero-line{
        width: unset !important;
    }
    .line {
        width: 85vw !important;
    }
    .gem-1{
        width: 50%;
        top: 50px !important;
    }
    .gem-2 {
        top: 300px;
        right: -30px !important;
        width: 50%; 
    }
    .gem-3 {
        width: 50%; 
        top: 900px;
        left: -100px;
    }
    .header{
        display: none;
    }
    #mobile-nav{
        display: flex;
    } 
    .section-flex{
        flex-direction: column-reverse !important;;
        padding-top: 100px !important;;
        display: flex !important;;
    } 
    #pink-boxes-screen{
        padding: 20px  !important;
    }
    .pink-boxes,
    .hero-flex{
        width: 100% !important;
    } 
    #explore-popup{
        width: 100% !important;
    }
    .pink-box{
        width: 100% !important;
        padding: 20px !important;
    }
    #screen-2, #screen-4,.faq-container,.faq-body{
        padding: 20px !important;
    }
    .section-2-container, #screen-1 p, .faq-container{
        width: 80% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .map-container{
        width: 90% !important;
    
    }
    .divider{
        height: auto !important; 
    }
    .magic-dust img{
        width: 100%;
        margin: auto !important;
    }
    .faq-body p img{
        width: 30px;
    }
    .faq-body p{
        align-items: flex-start !important;
        text-align: left !important;
        font-size: 28px !important
    }
    .map-phase h2{
        margin: 0 !important;
    }
    .phase-boxes, .faq-body{
        width: 100% !important;
    }
    .section-2-container h1, .section-2-container h1 span{
        font-size: 60px !important;
    }
    #screen-5 h1, #screen-4 h1,.contact-section form h1{
        font-size: 80px !important;
    }
    .message h1{
        font-size: 100px !important;
    }
    .message {
        top: 1000px; 
        margin: auto !important;
        /* left: 38%; */
    }
    .section-2-container p,
    .section-2-container p span {
        font-size: 36px !important;
    }
    .form-cont div, .contact-section input, .contact-section textarea{
        padding: 10px 20px !important;
    } 
} 
 
 #arrow{
    position: sticky;
    bottom: 280px;
    width: 100px;
    float: right;
    height: 100px; 
    right:115px;
    z-index: 9999988999999;
 }
 #arrow img{
    width: 100px;
    height: 100px;
 }
 #arrow:hover{
    transform: scale(1.25);
 }
 @media (max-width: 1860px){
    #arrow{
        bottom:  250px;
        right:100px;
    }
    #arrow{
        width: 90px;
        height: 90px; 
    }
     #arrow img{
        width: 90px;
        height: 90px;
     }
#rightfull , #right{
    right: -20px  ; 
    height: 1400vh !important;
}
#leftfull , #left{
    left: -60px  ;
    height: 1400vh !important;
     
    } 
 }
 @media (max-width: 1660px){
    #arrow{
        bottom:  220px;
    }
    #arrow{
        width: 80px;
        height: 80px; 
    }
     #arrow img{
        width: 80px;
        height: 80px;
     }
#rightfull , #right{ 
    height: 1550vh !important;
}
#leftfull , #left{ 
    height: 1500vh !important;
     
    } 
 }
 @media (max-width: 1440px){
    #arrow{
        bottom:  130px;
    }
    #arrow{
        width: 60px;
        height: 60px; 
    }
     #arrow img{
        width: 60px;
        height: 60px;
     } 
#leftfull, #rightfull {
    display: block;
}
 }  
 @media (max-width: 1360px){
    #arrow{
        bottom:  115px;
        right: 70px;
    }
    #arrow{
        width: 60px;
        height: 60px; 
    }
     #arrow img{
        width: 60px;
        height: 60px;
     }
 }
 @media (max-width: 1280px){
    #arrow{
        bottom:  140px;
        right: 60px;
    }
#rightfull , #right{
    right: -20px  ; 
    height: 1700vh !important;
}
#leftfull , #left{
    left: -60px  ;
    height: 1700vh !important;
     
    } 
 }
 @media (max-width: 1180px){
    #arrow{
        bottom:  120px;
    }
    #arrow{
        width: 50px;
        height: 50px; 
    }
     #arrow img{
        width: 50px;
        height: 50px;
     }
 }

 @media (max-width: 1024px){
    #arrow{
        bottom:  100px;
        right: 60px;
    }
    #arrow{
        width: 40px;
        height: 40px; 
    }
     #arrow img{
        width: 40px;
        height: 40px;
     }
 }
 @media (max-width: 768px){
    #arrow{
        bottom: 60px;
        right: 20px;
    }
    #cavebg, #cavebig{
        display: none;
    }
body{ 
    background: linear-gradient(#8806C9,#8806C9, #8806C9, #8806C9, #8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9,#8806C9 ,#8806C9,#fff,#fff,#fff,#fff);  
}
 }
 