@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 
@font-face {
    font-family: "Emtype Foundry";
    font-style: normal; 
    src: url("./assets/fonts/Emtype Foundry - Dixplay-Bk.otf");
}
@font-face {
    font-family: "Emtype Foundry Regular";
    font-style: normal; 
    src: url("./assets/fonts/Emtype Foundry - Dixplay-Rg.otf");
}
@font-face {
    font-family: "Fontsphere";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/Fontsphere - Pixeloza 01.otf");
}
html{
    scroll-behavior: smooth;  
}
button{
    cursor: pointer;
} 
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Emtype Foundry', sans-serif;  
    font-size: 24px;
    /*cursor: url(./assets/images/shovel.png),auto ;
*/} 
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#8806C9,#000);  
    /*background: url('./assets/images/grandbg.png'); */
    position: relative;  
}
 
@keyframes animate {
    0%{
        opacity: 0;
        /* transform: translateY(0); */
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        /* transform: translateY(-100px); */
    }
}
 #arrow{
    position: fixed;
    bottom: 20px;
    width: 60px;
    height: 60px;
    transform: scaleY(-1);
    right: 20px;
    z-index: 999998899;
 }
 #arrow img{
    width: 60px;
    height: 60px;
 }