#section-1{
    position: relative;
    padding-top: 500px ;
    width: 100%; 
    overflow: hidden !important;
}
.cieling{
    position: absolute;
    width: 100%; 
    top: 0; 
    z-index: -1;
}
.pink-box{
    background: #650C85;
    border: 6px solid #F36EFF;
    border-radius: 6px;
    padding: 40px 70px;
    width: fit-content !important;
    margin: auto;
    margin-bottom: 40px;
} 
.row{
    display: flex; 
    align-items: center;
    margin-bottom: 25px;
}
.pink-box .row p{  
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.1em; 
    color: #FF13ED;
}
.sec-box{
    width: 50%;
    margin: 0 25%;
}
/*.pink-box .row img{
    margin-right: 20px ;
}*/
.pink-box h2{ 
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    /*line-height: 100px;*/
    letter-spacing: 0.1em; 
    color: #FF13ED;  
}
@media (max-width : 768px){
    #section-2 p, #section-2 p span{
        width: 90% !important;
        font-size: 60px !important;
        line-height:  80px !important;
    }
    #section-2 h1,
    #section-2 h1 span{
        font-size: 100px !important;
    }
    .pink-box .row img{
        width: 60px;
    }
    .pink-box h2{
        font-size: 60px;
    }
}
#group{
    position: absolute; 
    top: 650px;
    right: 300px;
}
@media (max-width: 1880px){
    #group{
        position: absolute; 
        top: 600px;
        width: 375px;
        right: 325px;
    }

}
@media (max-width:  768px){
    #group{
        display: none;
    }
}
@media (max-width : 1780px){
    #section-1{
        padding-top: 400px;
    }
    #group{
        right: 200px;
        width: 325px;
        top: 650px;
    }
    #section-2 p, #section-2 p span{
        width: 90% !important;
        font-size: 60px !important;
        line-height:  80px !important;
    }
    #section-2 h1,
    #section-2 h1 span{
        font-size: 100px !important;
    }
    .pink-box .row img{
        width: 100px;
    }
    .pink-box h2{
        font-size: 60px;
    } 
    .pink-box h2{
        font-size: 80px !important;
    } 
}
@media (max-width : 1280px){
    #section-1{
        padding-top: 250px;
    }
#group{
    position: absolute;
    top: 300px;
    right: 250px;
    width: 250px;
    height: auto;
}
    #section-2 p, #section-2 p span{
        width: 90% !important;
        font-size: 60px !important;
        line-height:  80px !important;
    }
    #section-2 h1,
    #section-2 h1 span{
        font-size: 100px !important;
    }
    .pink-box .row img{
        width: 60px !important;
    }
    .pink-box h2{
        font-size: 60px;
    }
    .pink-box .row p{
        font-size: 28px;
    }
    .pink-box h2{
        font-size: 60px !important;
    }
    #section-1 .pink-box{
        padding: 20px 40px!important;
    }
}